.Footer-Container--Logo {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.Footer-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
}
.Footer-Description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Footer-Description p {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.07rem;
}
