.swiper {
  width: 100%;
  height: 100%;
  padding-top: 2.5rem;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: all 0.7s ease-in-out;
  // transition: filter 0.7s ease-in-out;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.myTricksSwiper {
  padding-top: 5rem !important;
}
.Tricks-Link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #1f1f1f;
  &:hover {
    color: #1f1f1f;
  }
  &-Container {
    padding: 2rem 0rem 2rem 0rem;
    display: flex;
    justify-content: flex-end;
  }
}
